@import "~normalize.css";

@import "_variables";
@import "modules/header.scss";

* {
  box-sizing: border-box;
}

*::after,
::before {
  box-sizing: inherit;
}


body {
  background: #fff;
  color: #000;
}

.main {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}