@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "_variables";
@import "modules/header.scss";
@import "modules/form.scss";


* {
  box-sizing: border-box;
}

*::after,
::before {
  box-sizing: inherit;
}


body {
  background: #fff;
  color: #000;
}

.main {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  padding-left: 104px;
}